<h1> Student </h1>

<form method='post' action="">
    {% csrf_token %}
    <label for='firstname'>Firstname:</label><br>
    <input type='text' id='firstname' name='firstname'></br>
    <label for='lastname'>Lastname:</label><br>
    <input type='text' id='lastname' name='lastname'><br>
    <label for='emailid'>Emailid:</label><br>
    <input type='text' id='emailid' name='emailid'><br>
    <label for='mobilenumber'>Mobilenumber:</label><br>
    <input type='text' id='mobilenumber' name='mobilenumber'><br>
    <label for='gender'>Gender:</label><br>
    <input type='text' id='gender' name='gender'><br>
    <input type='submit' value='submit'>
</form>
</body>
</html>


